
html, body{
    background: black;
}


div#container{
    margin: 20px auto 20px auto;
    width: 800px;
    height: 600px;
    text-align: center;
}

canvas{
    background: white;
    display: block;
}